@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/* Navbar */
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
}

nav img {
    width: auto;
    height: 30px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 0;
    width: 600px;
}

nav a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
    font-weight: 500;
}

nav a:hover{
    color: rgb(140, 140, 230);
}

/* Header */
header{
    background: url('/image/bg-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.banner-container{
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-banner{
    width: 45%;

}

.text-banner h1{
    font-size: 50px;
    color: blue;
    font-weight: 800;
}

.text-banner p{
    font-size: 20px;
    padding: 15px 0px;
}

.text-banner button{
    padding: 8px 12px;
    background-color: transparent;
    border: 2px solid blue;
    border-radius: 5px;
    color: blue;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.text-banner button:hover{
    background-color:  rgb(140, 140, 230);
    color: white;
}

/* Tentang Kami */
.tentang-kami{
    width: 100%;
    height: 100vh;
    display: flex;
    background: url('/image/bg-about.png');
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.tentang-kami img {
    height: 600px;
    width: auto;
}

.tentang-kami article{
    padding-left: 50px;
    width: 30%;
}

.tentang-kami h1{
    font-size: 34px;
}

.tentang-kami p{
    font-size: 20px;
    color: #646464;
    margin-top: 8px;
    font-weight: 500;
}

.tentang-kami span{
    font-weight: 700;
    text-transform: uppercase;
    color: blue;
}

/* visi misi */
.visi-misi{
    background: url('/image/bg-visi.webp');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    color: white;
}

.visi-misi img{
width: 400px;
}

.visi-misi .icon{
    height: 50px;
    width: 50px;
}

.visi-misi ul{
    list-style-image: url('/icons/arrow-right-icon.png');
}

.visi-misi li{
    letter-spacing: .5px;
    font-size: 22px;
    padding: 10px 8px;
    font-weight: 600;
}

/* nilai */
.nilai{
    height: 100vh;
    background: url('/image/BG.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.nilai span{
    color: #ffaa00;
}

.nilai h1{
    color: blue;
}

.nilai p{
    font-weight: 500;
    color: rgb(144, 134, 134);
}

.heading-nilai{
    font-weight: 500;
    color: red;
}

.heading-nilai{

}

.nilai .card{
    color: white;
    width: 250px;
    height: 320px;
    background-color: blue;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.3s ease-out;
}

.nilai .card:hover{
    transform: scale(1.2);
    background-color: white;
    color: bule;
}

.nilai .card:hover .running{
    content: url('/icons/running-blue.svg');
}

.nilai .card:hover .hands{
    content: url('/icons/hands-blue.svg');
}

.nilai .card:hover .circle{
    content: url('/icons/circle-blue.svg');
}

.contact{
    padding: 50px 0px;
    background: url('/image/bg-call.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
/* Footer */
footer{
    color: rebeccapurple;
}

footer hr{
    width: 35px;
    border: 3px solid #b17805;
    opacity: 1;
}

footer .copyright{
    width: 100%;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}

.copyright p{
    color: #555;
    font-size: 14px;
    font-weight: 400;
}

.menu-footer a{
    text-decoration: none;
    color: rebeccapurple;
    font-size: 18px;
}

.menu-footer li{
    padding-bottom: 10px;
}

